## api

apiモジュールはgRPC APIエンドポイントを提供するモジュールです。
具体的なprotoファイルは`api/proto/library_checker.proto`に格納されています。

### ユニットテスト

以下の方法でユニットテストが実行できます。このモジュールを変更した後はユニットテストを実行してください。

- `./launch_local.sh` でローカルに環境を立ち上げる
- `api` ディレクトリで `go test` を行う

## database

databaseモジュールはpostgre sqlとの通信を管理するモジュールです。


### ユニットテスト

以下の方法でユニットテストが実行できます。このモジュールを変更した後はユニットテストを実行してください。

- `./launch_local.sh` でローカルに環境を立ち上げる
- `database` ディレクトリで `go test` を行う
