# REST API
restapi/restapi
restapi/restapi.test

# Integration test
integration/integration
integration/integration.test

# Judge
judge/judge
judge/judge.test

executor/executor
executor/executor.test
langs/langs
langs/langs.test
langs/init/target/
migrator/migrator
migrator/migrator.test
storage/storage
storage/storage.test
uploader/uploader
uploader/uploader.test
tools/rejudge/rejudge
tools/rejudge/rejudge.test

terraform/.terraform/

.gocache
