go 1.25.0

use (
	./cloudrun/monitoring-discord-webhook
	./cloudrun/taskqueue-metrics
	./database
	./executor
	./integration
	./judge
	./langs
	./migrator
	./restapi
	./storage
	./tools/rejudge
	./uploader
)
