[Unit]
Description = library checker judge
Requires = docker.service
After = docker.service

[Service]
Environment=LIBRARY_CHECKER_JUDGE=true
ExecStart = /root/judge.sh

Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
