[Unit]
Description = Library-Checker Judge
Requires = prepare-cgroup.service
After = prepare-cgroup.service

[Service]
Environment=LIBRARY_CHECKER_JUDGE=true
ExecStart = /root/judge.sh

Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
