<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="uft-8">
    <title>Problem List</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Library Checker</h1>
        </div>
    </section>
    <section class="uk-section">
        <div class="uk-container">
            <h2>Lang List</h2>
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Langs}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Version}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <p>
                <div class="lang-en">More precise, please refer 
                    <a href="https://github.com/yosupo06/library-checker-judge/blob/master/api/langs.toml">langs.toml</a> and
                    <a href="https://github.com/yosupo06/library-checker-judge/blob/master/deploy/install.sh">install.sh</a>.
                </div>
                <div class="lang-ja">より詳しくは
                    <a href="https://github.com/yosupo06/library-checker-judge/blob/master/api/langs.toml">langs.toml</a>,
                    <a href="https://github.com/yosupo06/library-checker-judge/blob/master/deploy/install.sh">install.sh</a>を参照してください
                </div>
            </p>
            <h2>Judge Status</h2>
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="uk-label uk-label-success">AC</span></td>
                        <td>
                            <div class="lang-en">Accepted for latest testcases</div>
                            <div class="lang-ja">最新のテストケースでAccepted</div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">AC</span></td>
                        <td>
                            <div class="lang-en">AC but not for latest(e.g. new testcases are added)</div>
                            <div class="lang-ja">ACだが最新ではない(テストケースが追加されたなど)</div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">WA</span></td>
                        <td>Wrong Answer</td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">RE</span></td>
                        <td>
                            <div class="lang-en">Runtime Error</div>
                            <div class="lang-ja">Runtime Error(0以外の返り値を返した)</div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">TLE</span></td>
                        <td>Time Limit Exceeded</td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">PE</span></td>
                        <td>
                            <div class="lang-en">Presentation Error</div>
                            <div class="lang-ja">Presentation Error: 出力形式を間違えている</div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">Fail</span></td>
                        <td>
                            <div class="lang-en">The judge is broken(e.g. you create a better solution than mine). Please report.</div>
                            <div class="lang-ja">(スペシャルジャッジなどで)想定解より良い解を作った これが出たら報告していただけると助かります</div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">CE</span></td>
                        <td>Compile Error</td>
                    </tr>
                    <tr>
                        <td><span class="uk-label">WJ</span></td>
                        <td>
                            <div class="lang-en">Waiting Judge</div>
                            <div class="lang-ja">ジャッジ待ち</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="lang-en">Otherwise</div>
                            <div class="lang-ja">これ以外</div>
                        </td>
                        <td>
                            <div class="lang-en">is unexpected behaviour. Please report.</div>
                            <div class="lang-ja">が出たら想定外の挙動です　報告していただけると助かります</div>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>Tips</h2>
            <p>
                <div class="lang-en">Memory Limit is 1G for all problems. Stack size is unlimited.</div>
                <div class="lang-ja">メモリ制限は全部1G(2<sup>30</sup> bytes)です スタックサイズは無制限です</div>                
            </p>
            <p>
                <div class="lang-en">We restart a judge server sometimes. If you submit a solution while restarting, this submission keeps WJ forever(We'll fix it someday...). Please rejudge submission if it wait judging around 10 mins.</div>
                <div class="lang-ja">時々サーバーを再起動します。その時に提出するとWJのまま無限に放置されます(いつか直す…)。10分ぐらいWJが続くようだったらリジャッジしてみてください。それでダメなら想定外の挙動です。</div>
            </p>
        </div>
    </section>
</body>
</html>
