<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{.Problem.Title}}</title>
    {{template "css.html" .}}
</head>

<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Login</h1>
        </div>
    </section>

    <section class="uk-section">
        <div class="uk-container">
            {{if .Error}}
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{.Error}}</p>
            </div>
            {{end}}
            <form class="uk-form-horizontal" method="POST" action="/login">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Name</label>
                    <div class="uk-form-controls">
                        <input name="name" class="uk-input" id="form-horizontal-text" type="text" placeholder="Your Name" value="{{.Name}}">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Password</label>
                    <div class="uk-form-controls">
                        <input name="password" class="uk-input" id="form-horizontal-text" type="password" placeholder="Your Password">
                    </div>
                </div>
                <button class="uk-button" type="submit">Login</button>
            </form>
        </div>
    </section>
</body>

</html>