<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a href="/" class="uk-navbar-item uk-logo">Library-Checker</a>
        <a href="/" class="uk-navbar-item">Problems</a>
        <a href="/submissions" class="uk-navbar-item">Submissions</a>
    </div>
    <div class="uk-navbar-right">
        {{if and .User .User.Name}}
            {{.User.Name}}
            <a href="/logout" class="uk-navbar-item">Logout</a>
        {{else}}
            <a href="/register" class="uk-navbar-item">Register</a>
            <a href="/login" class="uk-navbar-item">Login</a>
        {{end}}
        <a href="https://github.com/yosupo06/library-checker-problems" class="uk-navbar-item">Github</a>
    </div>
</div>
