<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a href="/" class="uk-navbar-item uk-logo">Library-Checker</a>
        <ul class="uk-navbar-nav">
            <li><a href="/submissions" class="uk-navbar-item">Submissions</a></li>
            <li><a href="/ranking" class="uk-navbar-item">Ranking</a></li>
            <li><a href="/help" class="uk-navbar-item">Help</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#" id="nav-lang">Lang()</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#" onclick="setLang('ja')">Ja</a></li>
                        <li><a href="#" onclick="setLang('en')">En</a></li>
                    </ul>
                </div>
            </li>
            {{if .User}}
            <li><a href="#" class="uk-navbar-item">{{.User}}</a></li>
            <li><a href="/logout" class="uk-navbar-item">Logout</a></li>
            {{else}}
            <li><a href="/register" class="uk-navbar-item">Register</a></li>
            <li><a href="/login" class="uk-navbar-item">Login</a></li>
            {{end}}
            <li><a href="https://github.com/yosupo06/library-checker-problems" class="uk-icon-link" uk-icon="github"></a></li>
        </ul>
    </div>
</div>
