<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="uft-8">
    <title>Problem List</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Library Checker</h1>
        </div>
    </section>
    <section class="uk-section">
        <div class="uk-container">
            {{if not .User.Name}}
                <div class="uk-alert-primary" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>ユーザー登録しなくても提出できます</p>
                </div>
            {{end}}
            {{$titlemap := .titlemap}}
            {{range .list.Category}}
                <h3 class="uk-heading-bullet">{{.Name}}</h3>
                <div class="uk-child-width-1-3@s uk-child-width-1-4@m uk-grid-medium uk-grid-match" uk-grid>
                    {{range $index, $element := .Problems}}
                        {{$info := index $titlemap $element}}
                        {{if $info.Title}}
                        <div>
                            <div class="uk-card uk-card-default uk-card-body" {{if $info.Solved}}style="background: #E0FFE0"{{end}}>
                                <a href="/problem/{{.}}">{{$info.Title}}</a>
                            </div>
                        </div>
                        {{end}}
                    {{end}}

                </div>
            {{end}}
        </div>
    </section>
</body>
</html>
