<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="uft-8">
    <title>Problem List</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Library Checker</h1>
        </div>
    </section>
    <section class="uk-section">
        <div class="uk-container">
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>データベースをよく爆破します(テーブルの構成が固まってなくて、いちいち移すのは面倒なので…)</p>
            </div>
            <ul class="uk-list uk-list-divider uk-list-large">
                {{range .problems}}
                <li><a href="/problem/{{.Name}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </div>
    </section>
</body>
</html>
