<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{.Problem.Title}}</title>
    {{template "css.html" .}}

    <!-- Katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
        integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
        integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js"
        integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <script>// <![CDATA[
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(
                document.body, {
                    delimiters: [
                        { left: "$$", right: "$$", display: true },
                        { left: "$", right: "$", display: false }],
                    ignoredTags: [],
                })
        });
    // ]]></script>
</head>

<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">{{.Problem.Title}}</h1>
        </div>
    </section>

    <section class="uk-section">
        <div class="uk-container">
            {{.Problem.Statement}}
            <hr class="uk-margin-large">
            <form method="POST" action="/submit" enctype="multipart/form-data">
                <input name="problem" type="hidden" value="{{.Problem.Name}}">
                <div uk-form-custom="target: true">
                    <input name="source" type="file">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select source file" disabled>
                </div>
                <div uk-form-custom="target: > * > span:first-child">
                    <select name="lang">
                        <option value="cpp">C++(g++)</option>
                        <option value="cpp17">C++17(g++)</option>
                        <option value="java">Java</option>
                        <option value="rust">Rust(rustc)</option>
                        <option value="d">D(ldc2)</option>
                    </select>
                    <button class="uk-button" type="button" tabindex="-1">
                        <span></span>
                        <span uk-icon="icon: chevron-down"></span>
                    </button>
                </div>
                <button class="uk-button" type="submit">Submit</button>
            </form>
        </div>
    </section>
</body>
</html>
