<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Submitted</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}    
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Submit Info #{{.Overview.Id}}</h1>
            {{if .CanRejudge}}
            <a href="/rejudge/{{.Overview.Id}}">Rejudge</a>
            {{end}}
        </div>
    </section>
    
    <section class="uk-section">
        <div class="uk-container">
            <table class="uk-table">
                <tr>
                    <th>Problem</th>
                    <th>Lang</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                {{with .Overview}}
                <tr>
                    <!-- Title -->
                    <td><a href="/problem/{{.ProblemName}}">{{.ProblemTitle}}</a></td>
                    <!-- Lang -->
                    <td>{{.Lang}}</td>
                    <!-- User -->
                    <td>{{if .UserName}}{{.UserName}}{{else}}(anonymous){{end}}</td>
                    <!-- Status -->
                    <td>
                        {{if and .IsLatest (eq .Status "AC")}}
                        <span class="uk-label uk-label-success">AC</span>
                        {{else}}
                        <span class="uk-label">{{.Status}}</span>
                        {{end}}
                    </td>
                    <td>{{time2str .Time}}</td>
                    <td>{{mem2str .Memory}}</td>
                </tr>
                {{end}}
            </table>
            <hr class="uk-margin-medium">
            <details open="true">
                <summary>ケース詳細</summary>
                <table class="uk-table">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Memory</th>
                    </tr>
                    {{range .Results}}
                        <tr>
                            <td>{{.Case}}</td>
                            <td>{{.Status}}</td>
                            <td>{{time2str .Time}}</td>
                            <td>{{mem2str .Memory}}</td>
                        </tr>
                    {{end}}
                </table>
            </details>
            <hr class="uk-margin-medium">
            <div class="uk-container">
                <div id="editor">{{.Source}}</div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
                <script>
                    var editor = ace.edit("editor");
                    editor.setOption("maxLines", "Infinity");                    
                    editor.setReadOnly(true);
                    var lang = "{{.Overview.Lang}}";
                    if (lang.startsWith("cpp")) {
                        editor.getSession().setMode("ace/mode/c_cpp");
                    }
                    if (lang.startsWith("java")) {
                        editor.getSession().setMode("ace/mode/java");
                    }
                    if (lang.startsWith("py")) {
                        editor.getSession().setMode("ace/mode/python");
                    }
                    if (lang.startsWith("rust")) {
                        editor.getSession().setMode("ace/mode/rust");
                    }
                    if (lang.startsWith("d")) {
                        editor.getSession().setMode("ace/mode/d");
                    }
                    if (lang.startsWith("haskell")) {
                        editor.getSession().setMode("ace/mode/haskell");
                    }
                    if (lang.startsWith("csharp")) {
                        editor.getSession().setMode("ace/mode/csharp");
                    }
                    if (lang.startsWith("go")) {
                        editor.getSession().setMode("ace/mode/golang");
                    }
                    if (lang.startsWith("lisp")) {
                        editor.getSession().setMode("ace/mode/lisp");
                    }
                </script>
            </div>
        </div>
    </section>
</body>
</html>
