<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Submit List</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Submission List</h1>
        </div>
    </section>
    <section class="uk-section">
        <div class="uk-container">
            <table class="uk-table">
                <tr>
                    <th>ID</th>
                    <th>Problem</th>
                    <th>Lang</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                {{range .Submissions}}
                <tr>
                    <td><a href="/submission/{{.ID}}">{{.ID}}</a></td>
                    <td><a href="/problem/{{.Problem}}">{{.Problem}}</a></td>
                    <td>{{.Lang}}</td>
                    <td>{{if .User.Name}}{{.User.Name}}{{else}}(anonymous){{end}}</td>
                    <td>{{.Status}}</td>
                    <td>{{.MaxTime}}</td>
                    <td>{{.MaxMemory}}</td>
                </tr>
                {{end}}
            </table>
        </div>
    </section>
</body>
</html>
