<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Submit List</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Submission List</h1>
            {{if .User}}
                <a href="/submissions?user={{.User}}">My Submissions</a>
            {{end}}
        </div>
    </section>
    <section class="uk-section">
        <div class="uk-container">
            <ul class="uk-pagination uk-flex-center">
                {{$problem := .Problem}}
                {{$status := .Status}}
                {{range $p := (repeat 1 .NumPage)}}
                    <li><a href="?page={{$p}}{{if $problem}}&amp;problem={{$problem}}{{end}}{{if $status}}&amp;status={{$status}}{{end}}">{{$p}}</a></li>
                {{end}}
            </ul>
            <table class="uk-table">
                <tr>
                    <th>ID</th>
                    <th>Problem</th>
                    <th>Lang</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                {{range .Submissions}}
                <tr>
                    <td><a href="/submission/{{.Id}}">{{.Id}}</a></td>
                    <td><a href="/problem/{{.ProblemName}}">{{.ProblemTitle}}</a></td>
                    <td>{{index $.LangMap .Lang}}</td>
                    <td>{{if .UserName}}{{.UserName}}{{else}}(anonymous){{end}}</td>
                    <td>
                        {{if and .IsLatest (eq .Status "AC")}}
                        <span class="uk-label uk-label-success">AC</span>
                        {{else}}
                        <span class="uk-label">{{.Status}}</span>
                        {{end}}
                    </td>
                    <td>{{time2str .Time}}</td>
                    <td>{{mem2str .Memory}}</td>
                </tr>
                {{end}}
            </table>
        </div>
    </section>
</body>
</html>
