<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Submitted</title>
    {{template "css.html" .}}
</head>
<body>
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Submit Info #{{.Submission.Id}}</h1>
        </div>
    </section>

    <section class="uk-section">
        <div class="uk-container">
            <pre>{{.Submission.Source}}</pre>
        </div>
        <div class="uk-container">
            <table class="uk-table">
                <tr>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                <tr>
                    <td>{{.Submission.Status}}</td>
                    <td>{{.Submission.Maxtime}} ms</td>
                    <td>{{.Submission.Maxmemory}} bytes</td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>
