<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Submit List</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Submission List</h1>
            {{if .User}}
                <a href="/submissions?user={{.User}}">My Submissions</a>
            {{end}}
        </div>
    </section>
    <section class="uk-section">
        <div class="uk-container">
            <form method="GET" action="/submissions">
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: file-text"></span>
                        <input name="problem" placeholder="problem" class="uk-input" type="text" {{if $.Problem}}value="{{$.Problem}}" {{end}}>
                    </div>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input name="user" placeholder="user" class="uk-input" type="text" {{if $.FilterUser}}value="{{$.FilterUser}}" {{end}}>
                    </div>
                    <div uk-form-custom="target: > * > span:first-child">
                        <select name="status">
                            <option value="">All</option>
                            <option value="AC" {{if eq $.Status "AC" }}selected{{end}}>AC</option>
                        </select>
                        <button class="uk-button uk-button-default uk-form-width-small" type="button" tabindex="-1">
                            <span></span>
                            <span uk-icon="icon: chevron-down"></span>
                        </button>
                    </div>
                    <div uk-form-custom="target: > * > span:first-child">
                        <select name="order">
                            <option value="-id" {{if eq $.Order "-id" }}selected{{end}}>ID</option>
                            <option value="+time" {{if eq $.Order "+time" }}selected{{end}}>Time</option>
                        </select>
                        <button class="uk-button uk-button-default uk-form-width-small" type="button" tabindex="-1">
                            <span></span>
                            <span uk-icon="icon: chevron-down"></span>
                        </button>
                    </div>
                    <button class="uk-button uk-button-default" type="submit">Filter</button>
                </div>
            </form>
            <hr class="uk-margin-small">
            <ul class="uk-pagination uk-flex-center">
                {{range $p := .Pages}}
                    <li>
                        <a href="?page={{$p}}{{if $.Problem}}&amp;problem={{$.Problem}}{{end}}{{if $.FilterUser}}&amp;user={{$.FilterUser}}{{end}}{{if $.Status}}&amp;status={{$.Status}}{{end}}{{if $.Order}}&amp;order={{$.Order}}{{end}}">
                            {{if eq $p $.Page}}
                                <span class="uk-badge">{{$p}}</span>
                            {{else}}
                                {{$p}}
                            {{end}}
                        </a>
                    </li>
                {{end}}
            </ul>
            <table class="uk-table">
                <tr>
                    <th>ID</th>
                    <th>Problem</th>
                    <th>Lang</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                {{range .Submissions}}
                <tr>
                    <td><a href="/submission/{{.Id}}">{{.Id}}</a></td>
                    <td><a href="/problem/{{.ProblemName}}">{{.ProblemTitle}}</a></td>
                    <td>{{index $.LangMap .Lang}}</td>
                    <td>{{if .UserName}}{{.UserName}}{{else}}(anonymous){{end}}</td>
                    <td>
                        {{if and .IsLatest (eq .Status "AC")}}
                        <span class="uk-label uk-label-success">AC</span>
                        {{else}}
                        <span class="uk-label">{{.Status}}</span>
                        {{end}}
                    </td>
                    <td>{{time2str .Time}}</td>
                    <td>{{mem2str .Memory}}</td>
                </tr>
                {{end}}
            </table>
        </div>
    </section>
</body>
</html>
