<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Submitted</title>
    {{template "css.html" .}}
</head>
<body>
    {{template "navbar.html" .}}    
    <section class="uk-section">
        <div class="uk-container">
            <h1 class="uk-heading-medium">Submit Info #{{.Submission.ID}}</h1>            
            {{if .Rejudge}}
            <a href="/rejudge/{{.Submission.ID}}">Rejudge</a>
            {{end}}
        </div>
    </section>
    
    <section class="uk-section">
        <div class="uk-container">
            <table class="uk-table">
                <tr>
                    <th>Problem</th>
                    <th>Lang</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Memory</th>
                </tr>
                {{with .Submission}}
                <tr>
                    <!-- Title -->
                    <td><a href="/problem/{{.ProblemName}}">{{.Problem.Title}}</a></td>
                    <!-- Lang -->
                    <td>{{.Lang}}</td>
                    <!-- User -->
                    <td>{{if .User.Name}}{{.User.Name}}{{else}}(anonymous){{end}}</td>
                    <!-- Status -->
                    <td>
                        {{if and (eq .Testhash .Problem.Testhash) (eq .Status "AC")}}
                        <span class="uk-label uk-label-success">AC</span>
                        {{else}}
                        <span class="uk-label">{{.Status}}</span>
                        {{end}}
                    </td>
                    <td>{{.MaxTime}} ms</td>
                    <td>{{.MaxMemory}} bytes</td>
                </tr>
                {{end}}
            </table>
            <hr class="uk-margin-medium">
            <details>
                <summary>ケース詳細</summary>
                <table class="uk-table">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Memory</th>
                    </tr>
                    {{range .Results}}
                        <tr>
                            <td>{{.Testcase}}</td>
                            <td>{{.Status}}</td>
                            <td>{{.Time}} ms</td>
                            <td>{{.Memory}} bytes</td>
                        </tr>
                    {{end}}
                </table>
            </details>
            <hr class="uk-margin-medium">
            <div class="uk-container">
                <div id="editor" style="height: 500px;">{{.Submission.Source}}</div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
                <script>
                    var editor = ace.edit("editor");
                    editor.setReadOnly(true);
                    var lang = "{{.Submission.Lang}}";
                    if (lang.startsWith("cpp")) {
                        editor.getSession().setMode("ace/mode/c_cpp");
                    }
                    if (lang.startsWith("java")) {
                        editor.getSession().setMode("ace/mode/java");
                    }
                    if (lang.startsWith("pypy3")) {
                        editor.getSession().setMode("ace/mode/python");
                    }
                    if (lang.startsWith("rust")) {
                        editor.getSession().setMode("ace/mode/rust");
                    }
                    if (lang.startsWith("d")) {
                        editor.getSession().setMode("ace/mode/d");
                    }
                </script>
            </div>
        </div>
    </section>
</body>
</html>
