name: Test Executor

on:
  push:
    branches:
      - master
    paths:
      - 'executor/**'
      - 'langs/**'  # executor uses langs for testing
      - '.github/workflows/test-executor.yml'
  pull_request:
    paths:
      - 'executor/**'
      - 'langs/**'  # executor uses langs for testing
      - '.github/workflows/test-executor.yml'

jobs:
  test-executor:
    runs-on: ubuntu-latest
    steps:

    # ref: https://mathio28.medium.com/squeezing-disk-space-from-github-actions-runners-an-engineers-guide-d5fbe4443692
    - run: |
        sudo rm -rf /usr/lib/jvm
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/share/swift
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/local/julia*
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/local/share/chromium
        sudo rm -rf /opt/microsoft /opt/google
        sudo rm -rf /opt/az
        sudo rm -rf /usr/local/share/powershell

    - uses: actions/checkout@v3

    - run: ./run_protoc.sh

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Run docker compose
      run: docker compose up -d --build --wait

    - name: Install crun
      run: sudo ./packer/base/crun-install.sh

    - name: Prepare docker config
      run: sudo cp ./packer/base/docker-daemon.json /etc/docker/daemon.json

    - name: Restart docker
      run: sudo service docker restart

    - name: Build lang images (all)
      run: python3 ./build.py
      working-directory: ./langs

    - name: Executor module test (with langs tests)
      run: go test -v -tags=langs_all .
      working-directory: ./executor
